version: "3.5"

{% set develop = ansible_host == 'localhost' %}

services:
  unit:
    build:
      dockerfile: Dockerfile.unit
      context: .
    image: "${PROJECT_NAME}:unit"
    container_name: "${PROJECT_NAME}-unit"
    network_mode: host
    command:
      ["unitd", "--no-daemon", "--control", "127.0.0.1:${UNIT_PORT:-{{ unit_port }}}"]
    volumes:
      - {% if develop -%} ${APPS_PATH} {%- else -%} apps {%- endif -%}:${MOUNTED_APPS_PATH}

  db:
    image: mongo
    container_name: "${PROJECT_NAME}-db"
    volumes:
      - db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT:-{{ db_port }}}:27017"

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    image: "${PROJECT_NAME}:server"
    container_name: "${PROJECT_NAME}-server"
    ports:
      - "${SERVER_PORT:-{{ server_port }}}:${SERVER_PORT:-{{ server_port }}}"
    volumes:
      - {% if develop -%} ${APPS_PATH} {%- else -%} apps {%- endif -%}:${MOUNTED_APPS_PATH}

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    image: "${PROJECT_NAME}:ui"
    container_name: "${PROJECT_NAME}-ui"
    ports:
      - 80:80
      - 443:443
    volumes:
      - static:/build/


volumes:
  db: {}
  static: {}
  {% if not develop %}apps: {}{% endif %}
