version: "3.5"

{% set develop = env == 'development' %}

services:
  unit:
    build:
      dockerfile: unit.Dockerfile
      context: .
    image: ${PROJECT_NAME}:unit
    container_name: ${PROJECT_NAME}-unit
    command:
      ["unitd", "--no-daemon", "--control", "*:${UNIT_PORT:-9000}"]
    network_mode: host
    volumes:
      - ./unit_config.json:/var/lib/unit/conf.json
      - {% if develop -%} ${APPS_PATH} {%- else -%} apps {%- endif -%}:${MOUNTED_APPS_PATH}

  db:
    image: mongo
    container_name: ${PROJECT_NAME}-db
    volumes:
      - db:/data/db
    network_mode: host
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  server:
    build:
      context: .
      dockerfile: server.Dockerfile
    image: ${PROJECT_NAME}:server
    container_name: ${PROJECT_NAME}-server
    command: python server/main.py
    network_mode: host
    env_file:
      - .env
    volumes:
      - {% if develop -%} ${APPS_PATH} {%- else -%} apps {%- endif -%}:${MOUNTED_APPS_PATH}
{% if not develop %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}

  ui:
    build:
      context: .
      dockerfile: ui.Dockerfile
    image: ${PROJECT_NAME}:ui
    container_name: ${PROJECT_NAME}-ui
    network_mode: host
    volumes:
      - ./nginx_config:/etc/nginx/conf.d/default.conf


volumes:
  db: {}
  {% if not develop %}apps: {}{% endif %}
