FROM node:10.20.0-jessie

RUN mkdir /temp

WORKDIR /temp
COPY client/package.json .
COPY client/yarn.lock .

COPY deploy/files/cert.pem .
COPY deploy/files/key.pem

RUN yarn
COPY client/ .
RUN yarn build

FROM nginx:1.17.9-alpine

RUN mkdir /var/www {{ static_path }}
COPY --from=0 /temp/build/ {{ static_path }}

COPY --from=0 /temp/cert.pem {{ ssl_certificate_path }}
COPY --from=0 /temp/key.pem {{ ssl_certificate_key_path }}
