{
{% if env == 'development' %}
  "listeners": {},
{% else %}
  "listeners": {
    "*:{{ unit_apps_port }}": {
      "pass": "routes"
    }
  },
  "routes": [
    {
      "match": {
        "host": "{{ project_address }}",
        "uri": "*/static/*"
      },
      "action": {
        "share": "/var/www/"
      }
    },
    {
      "match": {
        "host": "{{ project_address }}"
      },
      "action": {
        "proxy": "http://{{ server_host }}:{{ server_port }}"
      }
    }
  ],
{% endif %}
  "applications": {}
}
