{
{% if env == 'development' %}
  "listeners": {},
  "routes": {},
{% else %}
  "listeners": {
    "*:{{ unit_apps_port }}": {
      "pass": "routes"
    }
  },
  "routes": [],
{% endif %}
  "applications": {}
}
